<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h3 class="mt-4 mb-3">Editar Usuario</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Email" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control no-border" %>
            </field>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Contraseña" %> <i>(dejar en blanco si no quieres cambiarla)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control no-border" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </field>
          </div>
        </div>

        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Confirmar constraseña" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control no-border" %>
            </field>
          </div>
        </div>

        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label :current_password %> <i>(necesitamos tu constraseña para confirmar los cambios)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: "form-control no-border" %>
            </field>
          </div>
        </div>

        <div class="actions row mb-3 justify-content-md-end ">
          <%= f.submit "Actualizar", class: "btn btn-info btn-block" %>
        </div>
      <% end %>

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <%= link_to "Atrás", :back, class: "btn btn-block btn-outline-info" %>
        </div>
        <div class="col-md-8 col-lg-6">
          <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estás seguro/a?" }, method: :delete, class: "btn btn-block btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>

