<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h3 class="mt-4 mb-3">Registrarse</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Email" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control no-border" %>
            </field>
          </div>
        </div>

        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Constraseña" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control no-border" %>
            </field>
          </div>
        </div>
        
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <field>
              <%= f.label "Confirmar contraseña" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control no-border" %>
            </field>
          </div>
        </div>

        <div class="actions row mb-3 justify-content-md-end ">
          <%= f.submit "Registrarme", class: "btn btn-info btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
