<div class="container">
	<%= form_for @comment do |f| %>
		<div class="container">
			<h3>Comentar</h3>
		  <div class="row justify-content-center">
		    <div class="col-lg-12 col-md-12">
					<h5 class="mt-4 mb-3">Nombre:</h5>
					<div class="card border-info mb-3">
		      	<div class="card-header text-info">
			  			<%= f.text_field :commenter, class: "form-control no-border", required: true %>
		      	</div>
		      </div>
				</div>

				<div class="col-lg-12 col-md-12">
					<h5 class="mt-4 mb-3">Comentario:</h5>
					<div class="card border-info mb-3">
		      	<div class="card-header text-info">
			  			<%= f.text_area :body, class: "form-control no-border", required: true %>
		      	</div>
		      </div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-6 col-md-6">
			  <%= f.hidden_field :entry_id, value: @entry.id %>
			  <%= f.submit "Publicar comentario", class: "btn btn-info btn-block" %>
			</div>
		</div>
	<% end %>
</div>