<div class="container">
  <%= form_with(model: entry, local: true) do |form| %>
    <% if entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
        <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12">
        <h5 class="mt-4 mb-3">Título:</h5>
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <%= form.text_field :title, class: "form-control no-border", required: true %>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <h5 class="mt-4 mb-3">Bajada:</h5>
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <%= form.text_field :subheader, class: "form-control no-border", required: true %>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12">
        <h5 class="mt-4 mb-3">Cuerpo:</h5>
        <div class="card border-info mb-3">
          <div class="card-header text-info">
            <%= form.text_area :body, class: "form-control no-border", required: true %>
          </div>
        </div>
      </div>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
          <%= form.submit 'Publicar', class: "btn btn-info btn-block" %>
        </div>
      </div>
    </div>

  <% end %>
</div>