<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <h3 class="mt-4 mb-3">Editar Noticia</h3>
    </div>
  </div>
</div>

<%= render 'form', entry: @entry %>

<br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4 col-lg-3">
			<%= link_to 'Atrás', entries_path, class: "btn btn-block btn-outline-info" %>
		</div>
		<div class="col-md-4 col-lg-3">
			<%= link_to 'Ver', @entry, class: "btn btn-block btn-outline-info" %> 
		</div>
	</div>
</div>
<br>


