<h1>Noticias</h1>
<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Bajada</th>
      <th>Cuerpo</th>
      <th>Fecha</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.subheader %></td>
        <td><%= entry.body.truncate(500, separator: ' ') %></td>
        <td><%= entry.created_at.to_s(:short) %></td>
        <td><%= entry.comments.count %></td>
        <td><%= link_to 'Ver', entry, class: "btn btn-success" %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_entry_path(entry), class: "btn btn-outline-secondary" %></td>
          <td><%= link_to 'Eliminar', entry, method: :delete, data: { confirm: 'Estás seguro/a?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row justify-content-center digg_pagination">
  <%= will_paginate @entries, page_links: false, previous_label: 'Página anterior', next_label: 'Página siguiente' %>
</div>

<br>
<% if current_user.admin? %>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4">
      <%= link_to 'Nueva Noticia', new_entry_path, class: "btn btn-info btn-block" %>
    </div>
  </div>
<% end %>