<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
			<h3 class="mt-4 mb-3">Título:</h3>
			<div class="card border-info mb-3">
      	<div class="card-header text-info">
  				<%= @entry.title %>
      	</div>
      </div>
		</div>
	</div>

	<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
			<h3 class="mt-4 mb-3">Bajada:</h3>
			<div class="card border-info mb-3">
      	<div class="card-header text-info">
  				<%= @entry.subheader %>
      	</div>
      </div>
		</div>
	</div>

	<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
			<h3 class="mt-4 mb-3">Cuerpo:</h3>
			<div class="card border-info mb-3">
      	<div class="card-header text-info">
  				<%= @entry.body %>
      	</div>
      </div>
		</div>
	</div>

	<div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
			<h3 class="mt-4 mb-3">Fecha:</h3>
			<div class="card border-info mb-3">
      	<div class="card-header text-info">
  				<%= @entry.created_at.to_s(:short) %>
      	</div>
      </div>
		</div>
	</div>

	<h3 class="mt-4 mb-3">Comentarios:</h3>
	<div class="row justify-content-center">
		<% @entry.comments.each do |comment| %>
	    <div class="col-lg-10 col-md-10">
				<div class="card border-info mb-3">
	      	<div class="card-header text-info">
	  				Nombre: <%= comment.commenter %>
	      	</div>
	      	<div class="card-header text-info">
	  				Comentario: <%= comment.body %>
	      	</div>
	      </div>
			</div>
			<% if current_user.admin? %>
				<div class="col-lg-2 col-md-2">
		    	<%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Estás seguro/a?' }, class: "btn btn-info btn-warning btn-block" %>
				</div>
		  <% end %>
		<% end %>
	</div>

	<br>
	<%= render partial: 'comments/form' %>

</div>
<br>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4 col-lg-3">
			<%= link_to 'Atrás', entries_path, class: "btn btn-block btn-outline-info" %>
		</div>
		<div class="col-md-4 col-lg-3">
			<% if current_user.admin? %>
				<%= link_to 'Editar noticia', edit_entry_path(@entry), class: "btn btn-block btn-outline-secondary" %>
			<% end %>
		</div>
	</div>
</div>
<br>