<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <h3 class="mt-4 mb-3">Ingresar</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card border-info mb-3">
              <div class="card-header text-info">
                <field>
                  <%= f.label "Email" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control no-border" %>
                </field>
              </div>
          </div>

          <div class="card border-info mb-3">
              <div class="card-header text-info">
                <field>
                  <%= f.label "Contraseña" %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control no-border" %>
                </field>
              </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label "Recordarme" %>
            </div>
          <% end -%>

          <div class="actions row mb-3 justify-content-md-end ">
            <%= f.submit "Ingresar", class: "btn btn-info btn-block" %>
          </div>
        <% end %>
    </div>
  </div>
</div>




  
