<!DOCTYPE html>
<html>
  <head>
    <title>Tarea1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

    <p class="navbar-text pull-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <% if user_signed_in? %>
            Ingresado/a como <strong><%= current_user.email %></strong>.
            <%= link_to (current_user.admin? ? "Administrar noticias" : "Ver noticias"), entries_path, :class => 'navbar-link' %> |          
            <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Ingresar", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </div>
      </div>
    </div>
    </p>

    <%= yield %>
  </body>
</html>
